.logo-border {
    height: 400px;
    width: 300px;
}


/* .team-img img {
    height: 450px;
    width: 450px;
}

.team-img img.resize {
    width: 460px;
}

.team-img img.re-resize {
    width: 420px;
} */

.team-img1 {
    background-size: cover;
    height: 50vh;
}

.testimonial {
    padding: 10px 0 0;
    background-color: #070e13;
}

.testimonial-top {
    margin: 0 0 71px;
}

.section-title .logo {
    margin: 0 0 21px;
}

.section-title h2,
.section-title h2 span {
    color: white;
    font-family: 'Baloo Chettan 2', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 34px;
    margin: 0 0 15px;
    text-transform: capitalize;
}

.section-title h2 span {
    color: #9b216a;
}

.section-title p {
    color: #beb317;
    line-height: 26px;
    font-size: 22px;
    font-family: 'Bellato', serif;
}

.team {
    position: relative;
    overflow: hidden;
}

.team .team-content {
    font-family: 'Chakra Petch', sans-serif;
    background: rgba(26, 23, 23, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    bottom: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    padding: 21px 27px 30px;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    transform-origin: 0 100% 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    z-index: 9;
}

.team:hover .team-content {
    opacity: 1;
    transform: rotate(0);
    visibility: visible;
}

.team .team-content .team-content-title {
    color: rgb(248, 86, 86);
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0;
}

.team .team-content .team-content-designation {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1;
    line-height: 16px;
}

.team .team-content .team-content-social {
    list-style: outside none none;
    padding: 0;
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 9;
}

.team .team-content .team-content-social li {
    margin: 0 0 8px;
}

.team .team-content .team-content-social li a {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}

.facebook {
    color: #4767b2;
}

.pinterest {
    color: #e60023;
}

.instagram {
    color: #9b41d3;
    font-weight: 900;
}

.facebook:hover {
    color: #a4bff5;
}

.pinterest:hover {
    color: #ffb1bd;
}

.instagram:hover {
    color: #dea7fd;
    font-weight: 900;
}